* {
    padding: 10px;
    background-color: floralwhite;
  }
  
  .todo {
    align-items: center;
    display: flex;
    font-size: 18px;

  }

  .navbar-container {
    display: flex;
    
  }

  .navbar{
    flex-direction: row;
    justify-content: flex-start
  }